<div class="main-content">

    <h1>Home</h1>

    <div class="grid-2">
        <img src="../img/money.jpg" alt="image 2">
        <div class="grid-item">
            <h3>The Value of Money</h3>
            <p>You can measure the value of money by how much it will buy in foreign currencies, the demand for Treasury notes, and how much is held in foreign exchange reserves.
                When the value of money declines over time and the prices of goods increase, it is called inflation.<br><br>
                When prices fall steadily over time and the value of money increases, it is called deflation, and it can have a harrowing effect on the economy.
                It is more valuable to have money today than to have money in the future because of the money's earnings potential; this is the time value of money.</p>
            <p class="resource">From <a href="https://www.thebalance.com/value-of-money-3306108">thebalance.com</a></p>
        </div>
    </div>

    <div class="grid-2">
        <img src="../img/gmo-food.jpg" alt="image 2">
        <div class="grid-item">
            <h3>GMO food</h3>
            <p>Only a few types of GMO crops are grown in the United States, but some of these GMOs make up a large percentage of the crop grown (e.g., soybeans, corn, sugar beets, canola, and cotton).

                <br>In 2018, GMO soybeans made up 94% of all soybeans planted, GMO cotton made up 94% of all cotton planted, and 92% of corn planted was GMO corn.
                
                <br>In 2013, GMO canola made up 95% of canola planted while GMO sugar beets made up 99.9% of all sugar beets harvested.
                
                <br>Most GMO plants are used to make ingredients that are then used in other food products, for example, cornstarch made from GMO corn or sugar made from GMO sugar beets.</p>
            <p class="resource">From <a href="https://www.fda.gov/food/agricultural-biotechnology/gmo-crops-animal-food-and-beyond">fda.gov</a></p>
        </div>
    </div>

    <div class="grid-2">
        <img src="../img/world.jpg" alt="image 2">
        <div class="grid-item">
            <h3>The View of World in 2100</h3>
            <p>With global population set to reach seven billion people over the weekend, it may be time to start planning for what the world will look like in the coming years.
                <br>Though most of us won't be around to see it, the United Nations has projected that our incredible population growth will level off at around 10 billion people by the year 2100.
                
                <br>Already, at less than seven billion, we are experiencing severe poverty, hunger, a shortage of resources, increased urbanization and climate change issues.
                
                <br>Will we be doomed by 2100, or can we make it work? Since we've only got one planet (so far), let's hope for the latter.
                
                </p>
            <p class="resource">From <a href="https://www.businessinsider.com/10-trends-we-can-expect-to-see-in-the-year-2100-2011-10">businessinsider.com</a></p>
        </div>
    </div>

    
</div>