<div class="main-content">

    <h1>Portfolio</h1>

    <div class="flexbox">
    
    <div class="card">
        <img src="../img/gmo-prj.jpg" alt="image 2">
        <figcaption>
          Portfolio #1
        </figcaption>
    </div>

    <div class="card">
        <img src="../img/flower-2.jpg" alt="image 2">
        <figcaption>
            Portfolio #2
        </figcaption>
    </div>

    <div class="card">
        <img src="../img/growing.jpg" alt="image 2">
        <figcaption>
            Portfolio #3
        </figcaption>
    </div>

    <div class="card">
        <img src="../img/flower-1.jpg" alt="image 2">
        <figcaption>
            Portfolio #4
        </figcaption>
    </div>

    <div class="card">
        <img src="../img/flower-3.jpg" alt="image 2">
        <figcaption>
            Portfolio #5
        </figcaption>
    </div>

    <div class="card">
        <img src="../img/veggi.jpg" alt="image 2">
        <figcaption>
            Portfolio #6
        </figcaption>
    </div>

    </div>
    
</div>